h1 {
    text-align: center;
    color: white;
    background-color: skyblue;
    padding: 10px;

}

input {
    width: 60px;
    background-color: green;
    color: white;
    border: 3px solid gray;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

input:hover {
    background-color: rgb(2, 105, 2);;
}

.calculadora {
    width: 300px;
    height: 440px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgray;
    border: 3px solid skyblue;
    border-radius: 5px;
    padding: 20px;
}

#limpar {
    width: 283.5px;
    border: 3px solid darkred;
    border-radius: 5px;
    padding: 20px;
    background-color: red;
}

#limpar:hover {
    background-color: rgb(166, 1, 1);
}

#display {
    width: 240px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
}